header[role="banner"] {
  padding-bottom: $global-spacing;
}

.header__inner {
  background: $color-tertiary;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  box-shadow: $global-box-shadow;
  color: #fff;
  font-weight: $global-font-weight-black;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

  svg {
    width: 60%;
    height: 60%;
  }

}
